<div class="dash-extended">
  <nav>
    <div><a href="/users/<%= current_user.id %>">WUPHF</a></div>
  </nav>

  <div class="logout"><%= link_to "Logout", logout_path, method: :post %></div>

  <section class="user-container">
    <div class="user-form">

    </div>
  </section>

  <section class="">

  </section>
</div>
