<!-- log in or auth in with Google -->
<div class="grid-signin">
  <nav>
    <div><a href="/">WUPHF</a></div>
  </nav>

  <section class="login">
    <div class="login-form">
      <%= render 'form' %>
    </div>
  </section>

  <section class="filler">
    <div>
      <h4>I learned a while back that if I don't text 911,
        people will not return my calls.
      </h4>
      <p>- Michael Scott</p>
    </div>
  </section>

  <footer></footer>
</div>
