<div class="grid-signin">
  <nav>
    <div><a href="/">WUPHF</a></div>
  </nav>

  <section class="login">
    <div class="login-form">
      <%= button_to 'Sign in with Google', '/auth/google_oauth2' %><br>
      <%= button_to 'Sign in', login_path, method: :get %>
      <p>or</p>
      <%= button_to 'Sign up', new_user_path, method: :get %>
    </div>
  </section>

  <section class="filler">
    <div>
      <%= inline_svg_tag "dog.svg" %>
    </div>
  </section>

  <footer></footer>
</div>
