<div class="grid-signin">
  <nav>
    <div><a href="/">WUPHF</a></div>
  </nav>

  <section class="login">
    <div class="login-form">
      <%= render 'form' %>
    </div>
  </section>

  <section class="filler">
    <div>
      <h4>I wish there was a way that I could do everything all at once,
        and I could just be like this little dog going, ‘Ruff! Ruff! Ruff! Ruff! Ruff!'
      </h4>
      <p>- Kelly Kapoor</p>
    </div>
  </section>

</div>
