<div class="grid-signin">
  <nav>
    <div>WUPHF.</div>
  </nav>

  <section class="login">
    <%= render 'form' %>
  </section>

  <section class="dog">
    <div>
      <%= inline_svg_tag "dog.svg" %>
    </div>
  </section>

  <footer></footer>
</div>
