/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *,
 ::before,
 ::after {
   box-sizing: border-box;
 }

/* 1rem == 10px */
/* .1rem == 1px */
 html {
   font-size: 62.5%;
 }

 body {
   font-family: 'Varela Round', sans-serif;
   font-size: 1.6rem;
   font-weight: 900;
   height: 100%;
   min-height: 100%;
   width: 100%;
   background-color: #f9f9f9;
 }

 /* sign in / sign up pages styling BEGIN */
 /* 6 column layout */
 .grid-signin {
   display: grid;
   min-height: 100%;
   grid-template-columns: 1fr 1fr 4fr 6fr 1fr 1fr;
   grid-template-areas:
    "nav nav nav nav nav nav"
    ". . login filler . ."
    ". . login filler . ."
    "footer footer footer footer footer footer";
 }

 .grid-signin nav {
   grid-area: nav;
   display: flex;
   font-family: 'Permanent Marker', cursive;
   font-size: 2.8rem;
   padding: 2rem 4rem;
   color: #564e96;
   text-decoration: none;
 }

 .grid-signin nav a,
 .dashboard nav a,
 .dashboard .logout a {
   text-decoration: none;
   color: #564e96;
 }

 .grid-signin nav a:hover,
 .dashboard nav a:hover,
 .dashboard .logout a:hover {
   text-decoration: none;
   color: #a5a4cb;
   font-weight: 900;
 }

 .grid-signin .login {
   grid-area: login;
   padding: 3rem 1rem 1rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
 }

 .grid-signin .login-form,
 .dashboard .msg-form {
   padding: 3rem;
   box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
 }

 .grid-signin .login-form input[type=text],
 input[type=password],
 input[type=email] {
   background-color: #f0f0f0;
   border: none;
   border-radius: 1rem;
   padding: .2rem 0;
   margin: .2rem 0;
   width: 20rem;
   height: 3rem;
   font-size: 1.2rem;
   text-indent: 1rem;
 }

 .grid-signin .login-form label {
   font-size: 1.4rem;
 }

 .grid-signin .login-form input[type=submit] {
   width: 20rem;
   height: 3rem;
   font-size: 1.6rem;
   cursor: pointer;
   border: none;
   background-color: #ef9565;
   box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
   transition: all .2s ease-in-out;
 }

 .grid-signin .login-form input[type=submit]:hover,
 .dashboard .msg-form input[type=submit]:hover {
   transform: scale(1.1);
 }

 .grid-signin .login-form p,
 .dashboard .msg-form p {
   text-align: center;
   font-size: .9rem;
   word-wrap: break-word;
 }

 .grid-signin .filler {
   grid-area: filler;
   align-items: center;
   line-height: 3rem;
   padding: 3rem 2rem;
   font-size: 2rem;
   color: #564e96;
 }

 .grid-signin .filler h4 {
   font-size: 2rem;
 }

 .grid-signin .filler p {
   font-size: 1.5rem;
   font-style: italic;
 }

 /* sign in / sign up pages styling END */

 /* dashboard pages styling BEGIN */
 /* 6 column layout */
 .dashboard {
   display: grid;
   min-height: 100%;
   grid-template-columns: 1fr 1fr 6fr 4fr 1fr 1fr;
   grid-template-areas:
    "n n n n . l"
    ". . recipients compose . ."
    ". . recipients compose . ."
    "f f f f f f";
 }

 .dashboard nav {
   grid-area: n;
   display: flex;
   font-size: 2.8rem;
   font-family: 'Permanent Marker', cursive;
   padding: 2rem 4rem;
   color: #564e96;
   text-decoration: none;
 }

 .dashboard .logout {
   grid-area: l;
   margin-left: 2rem;
   font-size: 1.5rem;
   padding: 3.75rem 4rem 0rem;
 }

 .dashboard .msg-container {
   grid-area: compose;
   padding: 2rem 1rem 1rem 3rem;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .dashboard .msg-form {
   border-radius: 0.5rem;
 }

 .dashboard .msg-form label {
   color: #ef9565;
 }

 .dashboard .msg-form select,
 .dashboard .msg-form textarea,
 .dashboard .msg-form input[type=tel],
 .dashboard .msg-form input[type=text],
 .dashboard .msg-form input[type=email],
 .dashboard .msg-form input[type=submit] {
   width: 25rem;
   padding: .2rem 0;
   margin: .2rem 0;
   border-color: #D3D3D3;
   border-radius: 1rem;
   border: none;
   background-color: #fff;
   height: 3rem;
   font-size: 1.3rem;
   text-indent: 1rem;
 }

 .dashboard .msg-form select:focus,
 .dashboard .msg-form textarea:focus,
 .dashboard .msg-form input[type=tel]:focus,
 .dashboard .msg-form input[type=text]:focus,
 .dashboard .msg-form input[type=email]:focus,
 .dashboard .msg-form input[type=submit]:focus {
   outline: none;
   box-shadow: none;
 }

 .dashboard .msg-form select {
   height: 3rem;
   border-radius: .5rem;
 }

 .dashboard .msg-form textarea {
   height: 10rem;
   padding: 1rem;
   resize: none;
   line-height: 2rem;
   text-indent: 0;
 }

 .dashboard .msg-form input[type=submit] {
   cursor: pointer;
   transition: all .2s ease-in-out;
   height: 4rem;
   border: none;
   border-radius: 1rem;
   font-size: 1.6rem;
   background-color: #a5a4cb;
   color: #fff;
 }

 .dashboard .msg-form input[type=submit]:focus {
   outline: none;
   box-shadow: none;
   color: #000;
 }

 .dashboard .friend-container {
   grid-area: recipients;
   padding: 2rem 1rem 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .dashboard .empty {
   height: 15rem;
   width: 15rem;
   margin: 1.2rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 0.5rem;
   background-color: #a5a4cb;
   box-shadow: rgba(165, 164, 203, 0.2) 0px 4px 16px, rgba(165, 164, 203, 0.2) 0px 8px 24px, rgba(165, 164, 203, 0.2) 0px 16px 56px;
   /* background-color: #f9d29d;
   background-image: linear-gradient(315deg, #f9d29d 0%, #ffd8cb 74%);
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
 }

 .dashboard .empty a {
   text-decoration: none;
   color: #fff;
   font-size: 1.6rem;
   transition: all .3s ease-in-out;
 }

 .dashboard .empty a:hover,
 .dashboard .empty a:active {
   color: #dbdbdb;
   transform: scale(1.05);
 }

 .dashboard .card {
   height: 15rem;
   width: 20rem;
   margin: 1.2rem;
   padding: 1.5rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   border-radius: 1rem;
   color: #fff;
   box-shadow: rgba(239, 149, 101, 0.05) 0px 4px 16px, rgba(239, 149, 101, 0.05) 0px 8px 24px, rgba(239, 149, 101, 0.05) 0px 16px 56px;
 }

 .dashboard .card h3 {
   align-self: center;
   font-family: 'Permanent Marker', cursive;
   font-size: 1.5rem;
   color: #ef9565;
   line-height: 0.6rem;
 }

 .dashboard .card p {
   font-size: 1rem;
   color: #ef9565;
 }

 .dashboard .card h4 {
   align-self: flex-end;
   font-size: 1rem;
 }

 .dashboard .card h4 a {
   text-decoration: none;
   color: #a5a4cb;
 }

 .dashboard .card h4 a:hover,
 .dashboard .card h4 a:active {
   color: #564e96;
 }



 /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 text-align: left;
 background-color: #f9d29d;
 background-image: linear-gradient(315deg, #f9d29d 0%, #ffd8cb 74%); */



 /* dashboard pages styling END */

 /* bright orange: color: #f37022 */
 /* dull orange: color: #ef9565 */
 /* bright purple: color: #564e96 */
 /* dull purple: color: #a5a4cb */

 /* font-family: 'Nunito', sans-serif;
 header - font-family: 'Quicksand', sans-serif; */
