/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *,
 ::before,
 ::after {
   box-sizing: border-box;
 }

/* 1rem == 10px */
/* .1rem == 1px */
 html {
   font-size: 62.5%;
 }

 body {
   font-family: 'Quicksand', sans-serif;
   font-size: 1.6rem;
   font-weight: 900;
   height: 100%;
   min-height: 100%;
   width: 100%;
 }

 /* sign in page styling BEGIN */
 /* 6 column layout */
 .grid-signin {
   display: grid;
   min-height: 100%;
   grid-template-columns: 1fr 1fr 4fr 6fr 1fr 1fr;
   grid-template-areas:
    "nav nav nav nav nav nav"
    ". . login dog . ."
    ". . login dog . ."
    "footer footer footer footer footer footer";
 }

 .grid-signin nav {
   grid-area: nav;
   display: flex;
   font-size: 2.8rem;
   color: #564e96;
   padding: 2rem 4rem;
   /* border-bottom: .1rem solid #dcdcdc; */
 }

 .grid-signin .login {
   grid-area: login;
   padding: 2rem 1rem 1rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
 }

 .grid-signin .login-form {
   padding: 3rem;
   box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
 }

 .grid-signin .login-form input[type=text],
 input[type=password],
 input[type=email] {
   background-color: #f0f0f0;
   border: none;
   padding: .2rem;
   margin: .2rem 0;
   width: 20rem;
   height: 3rem;
   font-size: 1.2rem;
   text-indent: 1rem;
 }

 .grid-signin .login-form label {
   font-size: 1.4rem;
 }

 .grid-signin .login-form input[type=submit] {
   width: 20rem;
   height: 3rem;
   font-size: 1.6rem;
   cursor: pointer;
   border: none;
   background-color: #ef9565;
   box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
   transition: all .3s ease-in-out;
 }

 .grid-signin .login-form input[type=submit]:hover {
   transform: scale(1.1);
 }

 /* .grid-signin .login-form input[type=submit].google {
   background-color: #a5a4cb;
 } */

 .grid-signin .login-form p {
   text-align: center;
 }

 .grid-signin .dog {
   grid-area: dog;
   padding: 2rem 0 0 2rem;
 }

 /* sign in page styling END */

 /* home page styling BEGIN */
 /* home page styling END */

 /* bright orange: color: #f37022 */
 /* dull orange: color: #EF9565 */
 /* bright purple: color: #564E96 */
 /* dull purple: color: #A5A4CB */

 /* font-family: 'Nunito', sans-serif;
 header - font-family: 'Quicksand', sans-serif; */
